.container{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(122, 122, 122); */
    margin-left: 10%;
    margin-top: 200px;
    margin-bottom: 200px;
    /* border: 1px solid rgb(0, 242, 255); */
    border-radius: 20px;
    box-shadow: 10px 10px 1px rgba(3, 184, 255, 0.3);
}
.formulario{
    width: 70%;
    height: auto;
    border: 1px solid rgb(0, 213, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    box-shadow: 5px 5px 30px rgba(0, 149, 175, 0.402);
}
.form{
    width: 80%;
    height: 70px;
    border: 1px solid rgb(0, 177, 200);
    text-align: center;
    color: white;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 10px 10px 30px rgba(0, 149, 175, 0.301);
}
.form:focus-visible{
    outline: none;
}
.form2{
    width: 80%;
    height: 100px;
    border: 1px solid rgb(0, 213, 255);
    color: white;
    text-align: center;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 10px 10px 30px rgba(0, 149, 175, 0.258);
}
.form2:focus-visible{
    outline: none;
}
input::placeholder{
    color: aqua;
}

.send{
    width: 80%;
    height: auto;
    border: 1px solid rgb(0, 213, 255);
    background-color: transparent;
    color: rgb(0, 213, 255);
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 149, 175, 0.259);
}
/* .send:focus-visible{
    outline: none;
} */


